﻿<!DOCTYPE html>
<html ng-app="contactsManager">
<head>
    <title>Contacts Manager</title>
    <base href="/">
</head>
<body>
    <div class="navbar navbar-top">
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/custom.css" rel="stylesheet" />

        <div class="navbar-inner">
            <div class="container">
                <h2>Contacts Manager</h2>
            </div>
        </div>
    </div>
    <div ng-view class="example-animate-container"
         ng-animate="{enter: 'example-enter', leave: 'example-leave'}"></div>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/application/application.js"></script>
    <script src="~/Scripts/application/controllers.js"></script>
    <script src="~/Scripts/application/contactsService.js"></script>
</body>
</html>