﻿<div class="container view">
    <header>
        <h3>Bookmarked Contacts</h3>
    </header>
    <div>
        <a class="nav-pills active" href="#/contacts">Back</a>

    </div>
    <br /><br />


    <ul class="span5">
        <li class="nav-pills nav-stacked contact-row" data-ng-repeat="contact in contacts | orderBy:'firstname' | filter:{bookmarked:'1'}">
            <span id="ct-details-{{contact.id}}" data-ng-click="displayContact(contact.id)" style="cursor:pointer;" class="contact-data details-hidden" href="">
                <span class="span3 contact-name">
                    {{contact.firstname + ' ' + contact.lastname}}
                </span>
            </span>
            <button class="btn editContact" id="deleteContact-{{contact.id}}" data-ng-click="deleteContact(contact.id)">Delete</button>
            <button class="btn editContact" id="editContact-{{contact.id}}" data-ng-click="editContact(contact.id)">Edit</button>
        </li>
    </ul>
</div>
