<div class="container view">
    <header>
        <h3>Contacts</h3>
    </header>

    <div>
        <a class="nav-pills hover" href="#/add-contact">Add Contact</a>
        <a class="nav-pills hover" href="#/bookmarked-contacts">Show Bookmarked Contacts</a>
        <a class="nav-pills hover" href="#/search-contacts">Search Contacts</a>


    </div>
    <br /><br />


    <ul class="span5">
        <li class="nav-pills nav-stacked contact-row" data-ng-repeat="contact in contacts | orderBy:'firstname'">
            <span id="ct-details-{{contact.id}}" data-ng-click="displayContact(contact.id)" style="cursor:pointer;" class="contact-data details-hidden" href="">
                <span class="span3 contact-name">
                    {{contact.firstname + ' ' + contact.lastname}}
                </span>
            </span>
            <button class="btn editContact" id="deleteContact-{{contact.id}}" data-ng-click="deleteContact(contact.id)">Delete</button>
            <button class="btn editContact" id="editContact-{{contact.id}}" data-ng-click="editContact(contact.id)">Edit</button>
        </li>
    </ul>
</div>

