<div class="container view">
    <header>
        <h3>Contact details</h3>
    </header>

    <div>
        <a class="nav-pills active" href="#/contacts">Back</a>
    </div>
    <br /><br />

    <div class="row add-contact">
        <div class="span3">
            First Name:
            <br />
            <input data-ng-model="contact.firstname" type="text">
        </div>
        <div class="span3">
            Last Name:
            <br />
            <input data-ng-model="contact.lastname" type="text">
        </div>
        <div class="span3">
            Phones:
            <br />
            <div ng:repeat="phone in contact.phones">
                <input type="text" data-ng-model="phone">
            </div>
        </div>
        <div class="span3">
            Emails:
            <br />
            <div ng:repeat="email in contact.emails">
                <input type="text" data-ng-model="email">
            </div>
        </div>
        <div class="span3">
            Tags:
            <br />
            <div ng:repeat="tag in contact.tags">
                <input type="text" data-ng-model="tag">
            </div>
        </div>
        <div class="span3">
            <select data-ng-model="contact.bookmarked" type="text" disabled>
                <option value="0">This contact is not bookmarked</option>
                <option value="1">Bookmark this contact</option>
            </select>
        </div>
        <div class="span3">
            Address:
            <br />
            <input data-ng-model="contact.address" type="text">
        </div>

        <div class="span3">
            City:
            <br />
            <input data-ng-model="contact.city" type="text">
        </div>
        <div class="span3">
            Notes:
            <br />
            <textarea data-ng-model="contact.notes"></textarea>
        </div>

    </div>
</div>