<div class="container view">
    <header>
        <h3>Edit Contact</h3>
    </header>

    <div>
        <a class="nav-pills active" href="#/contacts">Back</a>
    </div>
    <br /><br />
    <div class="row add-contact">
        <div class="span3">
            First Name:
            <br />
            <input data-ng-model="contact.firstname" type="text">
        </div>
        <div class="span3">
            Last Name:
            <br />
            <input data-ng-model="contact.lastname" type="text">
        </div>
        <div class="span3">
            Phones:
            <br />
            <span class="btn btn-primary" ng-click="insertNewNField('Phones1')">Add New Phone</span>
            <div ng:repeat="phone in contact.Phones1">
                <input type="text" data-ng-model="phone.number">
            </div>
        </div>
        <div class="span3">
            Emails:
            <br />
            <span class="btn btn-primary" ng-click="insertNewNField('Emails1')">Add New Email</span>
            <div ng:repeat="email in contact.Emails1">
                <input type="text" data-ng-model="email.email1">
            </div>
        </div>
        <div class="span3">
            Tags:
            <br />
            <span class="btn btn-primary" ng-click="insertNewNField('Tags1')">
                Add New Tags
            </span>
            <div ng:repeat="tag in contact.Tags1">
                <input type="text" data-ng-model="tag.tag1">
            </div>
        </div>
        <div class="span3">
            Bookmarked:
            <br />
            <select data-ng-model="contact.bookmarked" type="text">
                <option value="0">Don't bookmark this contact</option>
                <option value="1">Bookmark this contact</option>
            </select>
        </div>
        <div class="span3">
            Address:
            <br />
            <input data-ng-model="contact.address" type="text">
        </div>

        <div class="span3">
            City:
            <br />
            <input data-ng-model="contact.city" type="text">
        </div>
        <div class="span3">
            Notes:
            <br />
            <textarea data-ng-model="contact.notes"></textarea>
        </div>
        <div class="span3">
            <button id="submitContact" class="btn btn-primary" type="button"
                    data-ng-disabled="!contact.firstname || !contact.lastname"
                    data-ng-click="editContact()">
                Save Contact
            </button>
        </div>
    </div>
</div>