﻿<div class="container view">
    <header>
        <h3>Search Contacts</h3>
    </header>
    <div>
        <a class="nav-pills active" href="#/contacts">Back</a>

    </div>
    <br /><br />
    <input type="text" placeholder="Enter keyword" data-ng-model="query">
    <select data-ng-model="queryTask">
        <option value="0" selected>Search contacts by first name</option>
        <option value="1">Search contacts by last name</option>
        <option value="2">Search contacts by tags</option>
    </select>
    <button class="btn editContact" data-ng-click="searchContact(query, queryTask)">Search</button>
    <ul class="span5">
        <li class="nav-pills nav-stacked contact-row" data-ng-repeat="contact in contacts | orderBy:'firstname'">
            <span id="ct-details-{{contact.id}}" data-ng-click="displayContact(contact.id)" style="cursor:pointer;" class="contact-data details-hidden" href="">
                <span class="span3 contact-name">
                    {{contact.firstname + ' ' + contact.lastname}}
                </span>
            </span>
            <button class="btn editContact" id="deleteContact-{{contact.id}}" data-ng-click="deleteContact(contact.id)">Delete</button>
            <button class="btn editContact" id="editContact-{{contact.id}}" data-ng-click="editContact(contact.id)">Edit</button>
        </li>
    </ul>
</div>
