﻿<div class="container view">
    <header>
        <h3>Contacts</h3>
    </header>
    <div>
        <a class="nav-pills hover" href="#/add-contact">Add Contact</a>
    </div>
    <br /><br />
    <div class="row">
        <ul class="span5">
            <li class="nav-pills nav-stacked contact-row" data-ng-repeat="contact in contacts | orderBy:'firstName'">
                <span id="ct-details-{{contact.id}}" data-ng-click="displayContact(contact.id)" style="cursor:pointer;" class="contact-data details-hidden" href="">
                    <span class="span3 contact-name">
                        {{contact.firstName + ' ' + contact.lastName}}
                        {{contact.emailAddress}}
                    </span>
                </span>
                <button class="btn editContact" data-ng-click="deleteContact(contact.id)">Delete</button>
                <button class="btn editContact" data-ng-click="editContact(contact.id)">Edit</button>
            </li>
        </ul>
    </div>
</div>
